@font-face{
  font-family:'Eber';
  src:url('../fonts/Eber.woff2?v=9') format('woff2'),
      url('../fonts/Eber.woff?v=9') format('woff');
  font-weight:400; font-style:normal; font-display:swap;
}
html, body { font-family:'Eber', system-ui, sans-serif; }
h1, h2, h3 { font-weight:400; } /* poistaa oletus-boldin testiksi */


